body {


  font-family: 'Times-New-Roman', Sans-serif;
  color: black


table {
  table-layout: flex;   
  width: 100%;           
}
td {
	white-space: normal;
}

#filter-bar {
  display: flex;
  flex-wrap: wrap; /* autorise retour à la ligne */
  width: 100%;
  gap: 10px;
}

#filter-bar button {
  flex: 1 1 calc(33.333% - 10px); /* 3 par ligne */
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 50px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
  border-radius: 8px;
  transition: transform 0.2s;
}

/* Sur écrans étroits : 2 par ligne */
@media (max-width: 600px) {
  #filter-bar button {
    flex: 1 1 calc(50% - 10px);
    height: 80px;
    font-size: 14px;
  }
}



.pop {
  display: inline-block;
  margin: 20px 0;
}



}
.header {
  display: flex;
  align-items: center;
  background: #7b0d0d;
  color: white;
  justify-content: center;
  font-size : 300%;
}